*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #7288BD;
    height: 100%;
}

.bg-dark-purple{background-color: #7288BD;}
.bg-sky{background-color: #71B3D9;}
.bg-yellow{background-color: #F2D458;}
.bg-sky-marin{background-color: #A9D6DE;}
.bg-purple{background-color: #9CACD1;}
.bg-reacciones{background-color: #353E6F;}

header{
    height: 30px;
}

.banner{
    height: 75vh;
    background-image: url('img/bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner .banner-item{
    display: block;
    margin: 0 auto;
}

.banner h2{
    margin: 20px 0px;
    color: #353E6F;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
}
.banner .achs p{
    margin: 20px 0 0 0;
    color: #707070;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
}

.banner .achs img{
    display: block;
    margin: 0px auto;
}

.banner img{
    display: block;
    margin: 75px auto;
}

.conciencia{
    height: 200px;
}

.conciencia h3{
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 25px;
    margin-top: 30px;
}

.conciencia p{
    margin-top: 20px;
    text-align: center;
    color: #353E6F;
    font-size: 21px;
    line-height: 25px;
}
.confeciones{
    display: flex;
}

.confeciones .box-item{
    height: 225px;
}

.confeciones .seguir-leyendo{
    margin-top: 80px;
}

.confeciones .seguir-leyendo a{
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: #20334F;
    border: 2px solid;
    border-radius: 25px;
    padding: 0 5px;
    text-align: center;
    width: 125px;
}

.confeciones .seguir-leyendo-item{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.confeciones .seguir-leyendo-item .item-circle p{
    width: 35px;
    background-color: #20334F;
    color: #fff;
    padding: 5px;
    border-radius: 25px;
}

.reacciones{
    height: 420px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.reacciones .numeracion{
    position: relative;
    bottom: 22px;
}

.reacciones .numeracion h2{
    font-size: 40px;
    line-height: 25px;
    color: #F2D458;
}

.reacciones .numeracion p{
    color: #fff;
    font-size: 16px;
}

.banner-correo{
    height: 75vh;
    background-image: url('img/bg-2.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-correo .banner-item{
    display: block;
    margin: 0 auto;
}

.banner-correo .banner-box-item h2{
    margin: 20px 0px;
    color: #F2D458;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
}
.banner-correo .banner-box-item p{
    margin: 20px 0 20px 0;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.banner-correo .banner-box-item p span{
    margin: 20px 0 0px 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.banner-correo .banner-box-item img{
    display: block;
    margin: 0px auto;
}

.banner-correo .banner-box-item a{
    margin-top: 10px;
    text-decoration: none;
    background-color: #F2D458;
    padding: 0px 25px;
    border-radius: 25px;
    font-size: 25px;
    color: #334163;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    width: 230px;
}

.banner-correo img{
    display: block;
    margin: 75px auto;
}
